extends layout

block content
  .card.card-inverse.card-danger
    .card-block
      h4.card-title #{error.status} - #{message}
      blockquote.card-blockquote
        pre.error-detail
          code=error.stack
