extends layout

block content
    .card
      .card-header
        h4.card-title Result of Last 50 Requests.
        p.card-text Refreshed every 30 seconds.
      .table-responsive
        table.table
          thead
            tr
              th #
              th Job
              th Payload
              th UUID
              th Result
          tbody#result-body

block scripts
  script(src="javascripts/script-history.js")
